@{
    ViewData["Title"] = "Index";
}
    <header>
       <h1>☆</h1> 
    </header> 
<link rel="stylesheet" href="/css/style.css">
<section class="inicio">
    <h4>Inicia sesión para ver tu perfil</h4>
    <a href='@Url.Action("iniciarSesion", new{estado="invisible"})'>Iniciar Sesión</a>
</section>
<footer>
       <h1>☆ ☆ ☆ ☆ ☆</h1> 
</footer>