<body>
@if (ViewBag.estado=="contraseniaIncorrecta" || ViewBag.estado=="usuarioNoEncontrado"){
    <h2>@ViewBag.estado</h2>
}
<form action='@Url.Action("comprobarDatos")' method="post">
<input type="text" name="nombreUsuarioNuevo" required>
<input type="password" name="contrasenia" required>
<input type="submit">
</form>
<a href='@Url.Action("registrar", "invisible")' method="post">Registrarse</a>

</body>