<body>

<form action="Url.Action(iniciarSesion)" method="post">
<input type="text" name="nombreUsuarioNuevo">
<input type="password" name="contrasenia">
<input type="submit">
</form>
<a href="Url.Action(registrar,invisible)" method="post">Registrarse</a>

</body>