<body>
@if(ViewBag.estado=="errorUsuario"){
    <h2>el nombre de usuario ya esta siendo usado. Intente con otro nombre.</h2>
}
<form action='@Url.Action("registrarNuevo")' method="post">
<input type="text" name="nombreUsuarioNuevo" required>
<input type="text" name="password" required>
<input type="text" name="DNI" MaxLength="8" required>
<input type="text" name="nombreCompleto" required>
<input type="date" name="fechaNacimiento" required>
<input type="text" name="cancionFav" required>
<input type="text" name="libroFav" required>

<input type="submit">
</form>
<a href='@Url.Action("iniciarSesion")' method="post">Iniciar Sesión</a>

</body>