<body>
@ViewBag.estado
<form action='@Url.Action("registrarNuevo")' method="post">
<input type="text" name="nombreUsuarioNuevo">
<input type="text" name="password">
<input type="text" name="DNI">
<input type="text" name="nombreCompleto">
<input type="date" name="fechaNacimiento">
<input type="text" name="cancionFav">
<input type="text" name="materiaFav">

<input type="submit">
</form>
<a href='@Url.Action("registrar")' method="post">Registrarse</a>

</body>