<body>
@if(ViewBag.estado=="funciono"){
    <h2>Se agrego el usuario exitosamente</h2>
}else if(ViewBag.estado=="noFunciono"){
    <h2>Hubo un error al registrar el usuario. Vuelva a intentar mas tarde</h2>
}
<form action='@Url.Action("registrarNuevo")' method="post">
<input type="text" name="nombreUsuarioNuevo" required>
<input type="text" name="password" required>
<input type="text" name="DNI" MaxLength="8" required>
<input type="text" name="nombreCompleto" required>
<input type="date" name="fechaNacimiento" required>
<input type="text" name="cancionFav" required>
<input type="text" name="libroFav" required>

<input type="submit">
</form>
<a href='@Url.Action("iniciarSesion")' method="post">Iniciar Sesión</a>

</body>